/*
*    Created on : Dec. 5, 2020, 4:36:08 p.m.
*    Author     : christopher
*/

#login-button {
    display: block;
    margin: 10px auto;
 }

#login-form {
    .container{
        display: inline-block;
        margin: 5px;
        width: auto;
    }
}

#login-form-div {
    display: inline-block;
    border: solid 2px #c6538c;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}

#login-form-div-response {
    color: red;
}
