				<!-- First row of tiles  -->               
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<section class="outputSection">
							<header><a target="new" href="http://www.backayaadshipping.com">Back-A-Yaad Freight Shipping</a></header>
							<span class="subtitle">Shipping to the caribbean and beyond</span>
							<br/>
						</section>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<section class="outputSection"> 
							<header><a target="_blank" href="http://www.primerica.com/michelleslowleypollack">Michelle Slowley - Primerica Agent</a></header>
							<span class="subtitle">Financial Needs Analysis, Term Life Insurance and Investments</span>
							<br/>
						</section>
					</div>
				</div><!-- end first row -->	     
				        
				<!-- Second Row of tiles -->
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<section class="outputSection">
							<header><a target="_blank" href="/cpanel">Site Owner Log in</a></header>
							<span class="subtitle">Control Panel</span>
							<br/>
						</section>
					</div>
					<div  class="col-sm-6 col-md-6 col-lg-6">
						<section class="outputSection"> 
							<header><a target ="_blank" href="/blog">Blog</a></header>
							<span class="subtitle">Kelowna Design Blog</span>
							<br/>
						</section>
					</div>
				</div> <!-- end second row -->	
				
				<!-- Third Row of tiles -->
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<section class="outputSection">
							<header><a target="_blank" href="http://jobhunter-local.com/">Job Hunter Project</a></header>
							<span class="subtitle">Track potential job contacts</span>
							<br/>
						</section>
					</div>
					<div  class="col-sm-6 col-md-6 col-lg-6">
						<section class="outputSection"> 
							<header><a target ="_self" href="/index.php">Home</a></header>
							<span class="subtitle">Kelowna Design Home Page</span>
							<br/>
						</section>
					</div>
				</div> <!-- end third row -->	
