<div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
                <section class="outputSection">
                        <header><a target="new" href="http://www.backayaadshipping.com">Back-A-Yaad Freight Shipping</a></header>
                        <span class="subtitle">Shipping to the caribbean and beyond</span>
                        <br/>
                </section>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
                <section class="outputSection"> 
                        <header><a target="_blank" href="http://www.primerica.com/michelleslowleypollack">Michelle Slowley - Primerica Agent</a></header>
                        <span class="subtitle">Financial Needs Analysis, Term Life Insurance and Investments</span>
                        <br/>
                </section>
        </div>
</div>
				        
