<!--<div class="container">-->
    <div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11">&NonBreakingSpace;</div>
        <div class="col-sm-1 col-md-1 col-lg-1">
            <button id="add-user-button" class="">+</button>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
        <div class="col">
            <table style="width:auto" class="enhancedTable_type1">
                <tr>
                    <th>User Id</th>
                    <th>User name</th>
                    <th>Password</th>
                    <th>Email Address</th>
                    <th>User Type</th>
                    <th>Operations</th>
                </tr>
                <tbody id="users-table-body">
                    <tr id='user-template-row' style="display:none">
                        <td class="user-id-td">1</td>
                        <td class="user-name-td">John Doe</td>
                        <td class="user-password-td">12345</td>
                        <td class="user-email-td">john@anywhere.com</td>
                        <td class="user-type-td">user</td>
                        <td class="operations">
                            <button class="edit-user-button">Edit</button>
                            <button class="delete-user-button">Del</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->


